<footer class="bg-gray-900 p-8 flex items-center text-center justify-center">
    <span class="text-sm sm:text-center text-gray-400">© 2024. Créditos por el diseño: 
        <a href="https://www.youtube.com/watch?v=B91wc5dCEBA" target="_blank" rel="noreferrer" class="hover:text-white transition-colors duration-200">JavaScript Mastery</a>
    </span>
</footer>
