---
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server"; //para saber el estado de la session
const session = await getSession(Astro.request);
---

<header
    class="flex items-center justify-between py-4 lg:py-2 px-5 fixed w-full top-0 bg-none backdrop-blur-md z-20"
>
    <div class="flex flex-grow basis-0">
        <a href="/">
            <img src="/assets/logo.png" width="40" height="40" />
        </a>
    </div>
    <div class="block lg:hidden">
        <input type="checkbox" id="navbar" class="hidden" />
        <!--El id debe ser igual al for del label para conectarlos -->
        <label class="button-header z-50" for="navbar">
            <span></span><span></span><span></span>
        </label>
        <nav class="navbar-mobile -z-10">
            {/*siempre debajo del input */}
            <ul class="flex flex-col gap-y-12">
                <li>
                    <a class="nav-link" href="#caracteristicas"
                        >Características</a
                    >
                </li>
                <li>
                    <a class="nav-link" href="#caracteristicas">Precios</a>
                </li>
                <li>
                    <a class="nav-link" href="#caracteristicas">Cómo utilizar</a
                    >
                </li>
                <li>
                    <a class="nav-link" href="#caracteristicas">Mapa Vial</a>
                </li>
            </ul>
            <div class="mt-12">
            {
                session ? (
    
                        <SignOut class='border-solid border-2 border-orange-300 flex items-center justify-center py-1 gap-x-2 min-w-[120px]'>Logout</SignOut>
                
                ) : (
                    <SignIn provider="Google" class='border-solid border-2 border-orange-300 flex items-center justify-center py-1 gap-x-2 min-w-[120px]'>
                        Login
                        <svg
                            data-testid="geist-icon"
                            height="16"
                            stroke-linejoin="round"
                            viewBox="0 0 16 16"
                            width="16"
                            style="color: currentcolor;"
                        >
                            <path
                                d="M8.15991 6.54543V9.64362H12.4654C12.2763 10.64 11.709 11.4837 10.8581 12.0509L13.4544 14.0655C14.9671 12.6692 15.8399 10.6182 15.8399 8.18188C15.8399 7.61461 15.789 7.06911 15.6944 6.54552L8.15991 6.54543Z"
                                fill="#4285F4"
                            />
                            <path
                                d="M3.6764 9.52268L3.09083 9.97093L1.01807 11.5855C2.33443 14.1963 5.03241 16 8.15966 16C10.3196 16 12.1305 15.2873 13.4542 14.0655L10.8578 12.0509C10.1451 12.5309 9.23598 12.8219 8.15966 12.8219C6.07967 12.8219 4.31245 11.4182 3.67967 9.5273L3.6764 9.52268Z"
                                fill="#34A853"
                            />
                            <path
                                d="M1.01803 4.41455C0.472607 5.49087 0.159912 6.70543 0.159912 7.99995C0.159912 9.29447 0.472607 10.509 1.01803 11.5854C1.01803 11.5926 3.6799 9.51991 3.6799 9.51991C3.5199 9.03991 3.42532 8.53085 3.42532 7.99987C3.42532 7.46889 3.5199 6.95983 3.6799 6.47983L1.01803 4.41455Z"
                                fill="#FBBC05"
                            />
                            <path
                                d="M8.15982 3.18545C9.33802 3.18545 10.3853 3.59271 11.2216 4.37818L13.5125 2.0873C12.1234 0.792777 10.3199 0 8.15982 0C5.03257 0 2.33443 1.79636 1.01807 4.41455L3.67985 6.48001C4.31254 4.58908 6.07983 3.18545 8.15982 3.18545Z"
                                fill="#EA4335"
                            />
                        </svg>
                    </SignIn>
                )
            }
            </div>
        </nav>
    </div>

    <nav class="hidden lg:block">
        <ul
            class="flex items-center uppercase text-sm gap-x-5 font-medium text-gray-200 tracking-wider"
        >
            <li>
                <a class="nav-link" href="#caracteristicas">Características</a>
            </li>
            <li>
                <a class="nav-link" href="#caracteristicas">Precios</a>
            </li>
            <li>
                <a class="nav-link" href="#caracteristicas">Cómo utilizar</a>
            </li>
            <li>
                <a class="nav-link" href="#caracteristicas">Mapa Vial</a>
            </li>
        </ul>
    </nav>
    <div class="hidden flex-grow basis-0 justify-end lg:flex">
      
            {
                session ? (

                        <SignOut class='border-solid border-2 border-orange-300 flex items-center justify-center py-1 gap-x-2 min-w-[120px]'>Logout</SignOut>
                
                ) : (
                    <SignIn provider="Google" class='border-solid border-2 border-orange-300 flex items-center justify-center py-1 gap-x-2 min-w-[120px]'>
                        Login
                        <svg
                            data-testid="geist-icon"
                            height="16"
                            stroke-linejoin="round"
                            viewBox="0 0 16 16"
                            width="16"
                            style="color: currentcolor;"
                        >
                            <path
                                d="M8.15991 6.54543V9.64362H12.4654C12.2763 10.64 11.709 11.4837 10.8581 12.0509L13.4544 14.0655C14.9671 12.6692 15.8399 10.6182 15.8399 8.18188C15.8399 7.61461 15.789 7.06911 15.6944 6.54552L8.15991 6.54543Z"
                                fill="#4285F4"
                            />
                            <path
                                d="M3.6764 9.52268L3.09083 9.97093L1.01807 11.5855C2.33443 14.1963 5.03241 16 8.15966 16C10.3196 16 12.1305 15.2873 13.4542 14.0655L10.8578 12.0509C10.1451 12.5309 9.23598 12.8219 8.15966 12.8219C6.07967 12.8219 4.31245 11.4182 3.67967 9.5273L3.6764 9.52268Z"
                                fill="#34A853"
                            />
                            <path
                                d="M1.01803 4.41455C0.472607 5.49087 0.159912 6.70543 0.159912 7.99995C0.159912 9.29447 0.472607 10.509 1.01803 11.5854C1.01803 11.5926 3.6799 9.51991 3.6799 9.51991C3.5199 9.03991 3.42532 8.53085 3.42532 7.99987C3.42532 7.46889 3.5199 6.95983 3.6799 6.47983L1.01803 4.41455Z"
                                fill="#FBBC05"
                            />
                            <path
                                d="M8.15982 3.18545C9.33802 3.18545 10.3853 3.59271 11.2216 4.37818L13.5125 2.0873C12.1234 0.792777 10.3199 0 8.15982 0C5.03257 0 2.33443 1.79636 1.01807 4.41455L3.67985 6.48001C4.31254 4.58908 6.07983 3.18545 8.15982 3.18545Z"
                                fill="#EA4335"
                            />
                        </svg>
                    </SignIn>
                )
            }
    </div>
</header>
<style>
    .nav-link {
        display: inline-block;
        position: relative;
    }
    .nav-link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: orange;
        transform: scaleX(0);
        transform-origin: bottom left; /**para arrancar desde la izquierda */
        transition: transform 0.2s ease-out;
    }
    .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom right; /**para que vaya de izquierda a derecha */
    }

    /**button animado al abrir menu */
    .button-header {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 3rem;
        border:;
        background: transparent;
        gap: 0.65rem;
    }
    .button-header > span {
        background-color: white;
        height: 2px;
        width: 105%;
        border-radius: 5px;
        transition: all 0.5s;
        transform-origin: left;
    }
    /**CON EL +  CONCATENO OTRO ELEMENTO, pero cuando lo uso, el elemento nav debe 
 estar debajo del input, para ser un hermano adyacente  */
    .navbar-mobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80%;
        min-height: 100vh;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.5s;
        background-color: black;
    }
    #navbar:checked ~ .navbar-mobile {
        /**Para los hermanos que no son tan directos, pero debe estar debajo del input */
        transform: translateX(0);
        opacity: 100;
    }
    #navbar:checked + .button-header span:first-child {
        transform: rotate(45deg);
    }
    #navbar:checked + .button-header span:nth-child(2) {
        opacity: 0;
    }
    #navbar:checked + .button-header span:last-child {
        transform: rotate(-45deg);
    }
</style>
