<section class="w-full py-32 relative px-5">
    <div class="flex gap-x-20 max-w-[1200px] mx-auto flex-col lg:flex-row gap-y-16">
        <div class="hidden lg:block absolute top-[54%] left-[32%]"><img src="/assets/collaboration/curve-1.svg" /></div>
        <div class="min-h-full flex flex-col justify-between">
            {/*Left */}
            <h5 class="text-4xl md:text-6xl">
                Aplicación AI Chat para una colaboración perfecta
            </h5>
            <div class="flex flex-col gap-y-8 mt-10">
                <div class="flex flex-col gap-y-2">
                    <div class="flex items-center gap-x-2">
                        <img src="/assets/check.svg" />
                        <h6>Integración perfecta</h6>
                    </div>
                    <p class="text-base text-gray-400 max-w-[400px]">
                        Con automatización inteligente y seguridad de primer
                        nivel, es la solución perfecta para equipos que buscan
                        trabajar de manera más inteligente.
                    </p>
                </div>

                <div class="flex items-center gap-x-2">
                    <img src="/assets/check.svg" />
                    <h6>Automatización inteligente</h6>
                </div>
                <div class="flex items-center gap-x-2">
                    <img src="/assets/check.svg" />
                    <h6>Seguridad de primer nivel</h6>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center w-full">
            {/*Right */}
            <p class="text-base text-gray-400 max-w-[360px]">Con automatización inteligente y seguridad de primer nivel, es la solución perfecta para equipos que buscan trabajar de manera más inteligente.</p>
            <div class="relative w-52 h-52 md:w-80 md:h-80 rounded-full border-2 border-solid border-gray-600 mt-12 flex items-center justify-center">
                <div class="w-32 h-32 md:w-52 md:h-52 rounded-full border-2 border-solid border-gray-600 flex items-center justify-center">
                    <div class="w-20 h-20 border-solid border-2 border-indigo-500 rounded-full flex items-center justify-center">
                        <img src="/assets/brainwave-symbol.svg" />
                    </div>
                </div>
                <ul>
                    <li class="absolute -top-6 left-24 md:-top-6 md:left-36"><img src="/assets/collaboration/figma.png" width="35" height="35" /></li>
                    <li class="absolute top-4 md:top-6"><img src="/assets/collaboration/framer.png" width="35" height="35" /></li>
                    <li class="absolute top-24 -right-5 md:top-32 md:-right-4"><img src="/assets/collaboration/notion.png" width="35" height="35" /></li>
                    <li class="absolute top-40 right-3 md:top-60 md:right-4"><img src="/assets/collaboration/photoshop.png" width="35" height="35" /></li>
                    <li class="absolute -bottom-4 left-[90px] md:-bottom-4 md:left-36"><img src="/assets/collaboration/slack.png" width="35" height="35" /></li>
                    <li class="absolute bottom-1 left-5 md:top-32 md:-left-4"><img src="/assets/collaboration/protopie.png" width="35" height="35" /></li>
                    <li class="absolute top-24 -left-5 md:top-60 md:left-3"><img src="/assets/collaboration/discord.png" width="35" height="35" /></li>
                    <li class="absolute top-4 left-0 md:top-6 md:left-8"><img src="/assets/collaboration/raindrop.png" width="35" height="35" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>
